@page
@model BDFA.Pages.AdminModel
<div class="body-title"><h1>@ViewData["TitleBody"]</h1></div>

<h2>Profiles</h2>

<ul>
    @foreach (var profile in Model.Profiles)
    {
        <li>@profile.Email</li>
    }
</ul>