@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">

    <div class="container p-4">
        <div class="row p-4 align-items-center rounded-3 border shadow-lg">
            <div class="col">
                <h1 style="color:#E4405F">Buy Direct From Authors</h1>
                <p class="h5">The Defenitive Source</p>
            </div>
        </div>
    </div>

    <div class="text-center p-4">
        <div class="card">
            <div class="card-header fw-bold">
                Featured Authors
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <a href="https://rebeccahefnerbooks.com/" target="_blank" title="Author's Direct Store">
                                <img src="https://placehold.co/300x300" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Author</h5>
                                <p class="card-text">Tagline</p>
                                <p><i class="fa-solid fa-hashtag fa-xl"></i> steamy romance, small town romance, romantasy, enemies to lovers, grumpy-sunshine, vampire romance</p>
                                <p><button type="button" class="btn btn-primary">Author's Direct Store</button></p>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author's Direct Store">
                                    <i class="fa-solid fa-store fa-xl" style="color: #212121;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author Newsletter">
                                    <i class="fa-solid fa-envelope-open fa-xl" style="color: #25D366;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Facebook Page">
                                    <i class="fa-brands fa-facebook fa-xl" style="color: #1877F2 ;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Facebook Group">
                                    <i class="fa-brands fa-square-facebook fa-xl" style="color: #1877F2 ;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Instagram">
                                    <i class="fa-brands fa-instagram fa-xl" style="color: #E4405F ;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="TikTok">
                                    <i class="fa-brands fa-tiktok fa-xl" style="color: #69C9D0;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Threads">
                                    <i class="fa-brands fa-threads fa-xl" style="color: #1877F2;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="X">
                                    <i class="fa-brands fa-x-twitter fa-xl" style="color: #000000;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Additional Author Link">
                                    <i class="fa-solid fa-link fa-xl" style="color: #FF4500;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="https://rebeccahefnerbooks.com/" target="_blank" title="Author's Direct Store">
                                <img src="https://placehold.co/300x300" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Author</h5>
                                <p class="card-text">Tagline</p>
                                <p><i class="fa-solid fa-hashtag fa-xl"></i> steamy romance, small town romance, romantasy, enemies to lovers, grumpy-sunshine, vampire romance</p>
                                <p><button type="button" class="btn btn-primary">Author's Direct Store</button></p>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author's Direct Store">
                                    <i class="fa-solid fa-store fa-xl" style="color: #212121;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author Newsletter">
                                    <i class="fa-solid fa-envelope-open fa-xl" style="color: #25D366;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Facebook Page">
                                    <i class="fa-brands fa-facebook fa-xl" style="color: #1877F2 ;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Instagram">
                                    <i class="fa-brands fa-instagram fa-xl" style="color: #E4405F ;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="TikTok">
                                    <i class="fa-brands fa-tiktok fa-xl" style="color: #69C9D0;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Threads">
                                    <i class="fa-brands fa-threads fa-xl" style="color: #1877F2;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="https://rebeccahefnerbooks.com/" target="_blank" title="Author's Direct Store">
                                <img src="https://placehold.co/300x300" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Author</h5>
                                <p class="card-text">Tagline</p>
                                <p><i class="fa-solid fa-hashtag fa-xl"></i> steamy romance, small town romance, romantasy, enemies to lovers, grumpy-sunshine, vampire romance</p>
                                <p><button type="button" class="btn btn-primary">Author's Direct Store</button></p>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author's Direct Store">
                                    <i class="fa-solid fa-store fa-xl" style="color: #212121;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author Newsletter">
                                    <i class="fa-solid fa-envelope-open fa-xl" style="color: #25D366;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Instagram">
                                    <i class="fa-brands fa-instagram fa-xl" style="color: #E4405F ;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="X">
                                    <i class="fa-brands fa-x-twitter fa-xl" style="color: #000000;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center p-4">
        <div class="card">
            <div class="card-header fw-bold">
                Featured Deals
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <a href="https://rebeccahefnerbooks.com/" target="_blank" title="Author's Direct Store">
                                <img src="https://placehold.co/300x300" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Author</h5>
                                <p class="card-text">Tagline</p>
                                <p><i class="fa-solid fa-hashtag fa-xl"></i> steamy romance, small town romance, romantasy, enemies to lovers, grumpy-sunshine, vampire romance</p>
                                <p><button type="button" class="btn btn-primary">Author's Direct Store</button></p>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author's Direct Store">
                                    <i class="fa-solid fa-store fa-xl" style="color: #212121;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author Newsletter">
                                    <i class="fa-solid fa-envelope-open fa-xl" style="color: #25D366;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Facebook Page">
                                    <i class="fa-brands fa-facebook fa-xl" style="color: #1877F2 ;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Facebook Group">
                                    <i class="fa-brands fa-square-facebook fa-xl" style="color: #1877F2 ;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Instagram">
                                    <i class="fa-brands fa-instagram fa-xl" style="color: #E4405F ;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="TikTok">
                                    <i class="fa-brands fa-tiktok fa-xl" style="color: #69C9D0;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Threads">
                                    <i class="fa-brands fa-threads fa-xl" style="color: #1877F2;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="X">
                                    <i class="fa-brands fa-x-twitter fa-xl" style="color: #000000;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Additional Author Link">
                                    <i class="fa-solid fa-link fa-xl" style="color: #FF4500;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="https://rebeccahefnerbooks.com/" target="_blank" title="Author's Direct Store">
                                <img src="https://placehold.co/300x300" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Author</h5>
                                <p class="card-text">Tagline</p>
                                <p><i class="fa-solid fa-hashtag fa-xl"></i> steamy romance, small town romance, romantasy, enemies to lovers, grumpy-sunshine, vampire romance</p>
                                <p><button type="button" class="btn btn-primary">Author's Direct Store</button></p>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author's Direct Store">
                                    <i class="fa-solid fa-store fa-xl" style="color: #212121;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author Newsletter">
                                    <i class="fa-solid fa-envelope-open fa-xl" style="color: #25D366;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Facebook Page">
                                    <i class="fa-brands fa-facebook fa-xl" style="color: #1877F2 ;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Instagram">
                                    <i class="fa-brands fa-instagram fa-xl" style="color: #E4405F ;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="TikTok">
                                    <i class="fa-brands fa-tiktok fa-xl" style="color: #69C9D0;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Threads">
                                    <i class="fa-brands fa-threads fa-xl" style="color: #1877F2;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="https://rebeccahefnerbooks.com/" target="_blank" title="Author's Direct Store">
                                <img src="https://placehold.co/300x300" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Author</h5>
                                <p class="card-text">Tagline</p>
                                <p><i class="fa-solid fa-hashtag fa-xl"></i> steamy romance, small town romance, romantasy, enemies to lovers, grumpy-sunshine, vampire romance</p>
                                <p><button type="button" class="btn btn-primary">Author's Direct Store</button></p>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author's Direct Store">
                                    <i class="fa-solid fa-store fa-xl" style="color: #212121;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author Newsletter">
                                    <i class="fa-solid fa-envelope-open fa-xl" style="color: #25D366;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Instagram">
                                    <i class="fa-brands fa-instagram fa-xl" style="color: #E4405F ;"></i></a>
                                <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="X">
                                    <i class="fa-brands fa-x-twitter fa-xl" style="color: #000000;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-4">
        <div class="row p-4 align-items-center rounded-3 border shadow-lg">
            <div class="col">
                <p class="h4">Search to find our awesome authors!</p>
                <div class="d-grid d-md-flex">
                    <input class="form-control form-control-lg text-center" type="search" placeholder="Search here by keyword (examples: steamy romance, cozy mystery, sci-fi)" aria-label="Search" aria-describedby="SearchHelp">
                </div>
            </div>
         </div>
    </div>

    <div class="container p-4">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <a href="https://rebeccahefnerbooks.com/" target="_blank" title="Author's Direct Store">
                        <img src="https://placehold.co/200x200" class="card-img-top" alt="Author"></a>
                    <div class="card-body">
                        <h5 class="card-title">Author</h5>
                        <p class="card-text">Tagline</p>
                        <p><i class="fa-solid fa-hashtag fa-lg"></i> steamy romance, small town romance, romantasy, enemies to lovers, grumpy-sunshine, vampire romance</p>
                        <p><button type="button" class="btn btn-primary">Author's Direct Store</button></p>
                        <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author's Direct Store">
                            <i class="fa-solid fa-store fa-lg" style="color: #212121;"></i></a>
                        <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Author Newsletter">
                            <i class="fa-solid fa-envelope-open fa-lg" style="color: #25D366;"></i></a>
                        <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Facebook Page">
                            <i class="fa-brands fa-facebook fa-lg" style="color: #1877F2 ;"></i></a>
                        <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Facebook Group">
                            <i class="fa-brands fa-square-facebook fa-lg" style="color: #1877F2 ;"></i></a>
                        <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Instagram">
                            <i class="fa-brands fa-instagram fa-lg" style="color: #E4405F ;"></i></a>
                        <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="TikTok">
                            <i class="fa-brands fa-tiktok fa-lg" style="color: #69C9D0;"></i></a>
                        <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Threads">
                            <i class="fa-brands fa-threads fa-lg" style="color: #1877F2;"></i></a>
                        <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="X">
                            <i class="fa-brands fa-x-twitter fa-lg" style="color: #000000;"></i></a>
                        <a href="https://rebeccahefnerbooks.com/" class="me-1" target="_blank" title="Additional Author Link">
                            <i class="fa-solid fa-link fa-lg" style="color: #FF4500;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
