@page
@model BDFA.Pages.LoginModel
<div class="body-title"><h1>@ViewData["TitleBody"]</h1></div>

<p>Please enter your information below to create your Buy Direct From Authors listing. All of the site links are optional except for the direct store link which is required. You can enter any link on your store as your store link (example: a link to one of your bundles or a link to your main site). You can update your listing profile anytime, and any changes you update and save will automatically be shown on your listing. Please email any questions to <a href="mailto:admin@buydirectfromauthors.com">admin@buydirectfromauthors.com</a>.</p>

<p>Thank you for joining and we look forward to growing our stores together!</p>

<form asp-page="Login" method="post">
    @Html.AntiForgeryToken()

    <div class="form-signin pt-6 mb-3">
        @if (Model.ShowSendCode)
        {
            <label for="InputEmail">Email Address</label>
            <input asp-for="InputEmail" type="email" class="form-control" id="InputEmail" placeholder="name@example.com" required autocomplete="username">
            <input type="submit" asp-page-handler="SendCode" class="mt-3 w-100 btn btn-lg btn-primary" value="Send Code" />
        }

        @if (Model.ShowSignIn)
        {
            <label for="InputAuthCode">Authorization Code</label>
            <input asp-for="InputAuthCode" type="password" class="form-control" id="InputAuthCode" placeholder="######" required autocomplete="one-time-code">
            <input type="submit" asp-page-handler="SignIn" class="mt-3 w-100 btn btn-lg btn-primary" value="Sign In" />
        }
    </div>
</form>