@page
@model BDFA.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<main class="form-signin">
    <form>
        <div class="form-floating mb-3">
            <label for="Email">Email Address</label>
            <input asp-for="Email" type="email" class="form-control" id="Email" placeholder="name@example.com">
            <button class="mt-3 w-100 btn btn-lg btn-primary" type="button" id="sendCodeButton" onclick="sendCode()">Send Code</button>
        </div>
        <div id="passwordSection" style="display:none;" class="form-floating">
            <label for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="Password" placeholder="Code" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember Me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" id="loginButton">Sign In</button>
        </div>
    </form>
</main>

<script>
    function sendCode() {
        // Hide the Send Code button and show the password input and Login button
        document.getElementById('sendCodeButton').style.display = 'none';
        document.getElementById('passwordSection').style.display = 'block';
    }
</script>
