@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Who we are</h2>
<p>Our website address is: https://buydirectfromauthors.com</p>

<h2>Cookies</h2>
<p>This site uses cookies that track data such as link clicks.</p>

<h2>What data we collect and retain</h2>
<p>We ask you to upload a link to your direct store, an image for your listing, and any other information that will enhance your listing on the site.</p>

<h2>Who we share your data with</h2>
<p>We do not share any data you upload and it is retained securely on our server.</p>

<p>Affiliate links are used on this website from time to time for certain companies including Apple, Google, Rakuten Kobo, Chirp, and Barnes & Noble. If you purchase or download through an affiliate link, you might be asked to agree to the affiliate site's cookie policy as well.</p>

<h2>How long your data is retained</h2>
<p>Cookies on our website have an expiration date of one year, and users can clear cookies manually when they want to.</p>