@page
@model TermsModel
@{
    ViewData["Title"] = "Terms & Conditions";
}
<h1>@ViewData["Title"]</h1>

<p>Please read these terms and conditions ("terms and conditions", "terms") carefully before using https://buydirectfromauthors.com (“website”, "service") operated by Reading Goddess Press, LLC, dba Rebecca Hefner, dba Buy Direct From Authors ("us", 'we", "our").</p>

<h2>Conditions of use</h2>
<p>By using this website, you certify that you have read and reviewed this Agreement and that you agree to comply with its terms. If you do not want to be bound by the terms of this Agreement, you are advised to stop using the website and our service accordingly. We only grant use and access of this website, its products, and its services to those who have accepted its terms.</p>

<h2>Privacy policy</h2>
<p>Before you continue using our website, we advise you to read our privacy policy [Buy Direct From Authors Privacy Policy] regarding our user data collection.</p>

<h2>Age restriction</h2>
<p>You must be at least 18 (eighteen) years of age before you can use this website. By using this website, you warrant that you are at least 18 years of age and you may legally adhere to this Agreement. We assume no responsibility for liabilities related to age misrepresentation.</p>

<h2>Intellectual property</h2>
<p>You agree that all services provided on this website are our property, including all copyrights, trade secrets, trademarks, patents, and other intellectual property. You also agree that you will not reproduce or redistribute our intellectual property in any way, including electronic, digital, or new trademark registrations.</p>
<p>You grant us a royalty-free and non-exclusive license to display, use, copy, transmit, and broadcast the content you upload and publish. For issues regarding intellectual property claims, you should contact the company at admin@buydirectfromauthors.com in order to come to an agreement.</p>

<h2>User accounts</h2>
<p>As a user of this website, you may be asked to register with us and provide private information. You are responsible for ensuring the truth and accuracy of this information, and you are responsible for maintaining the safety and security of your identifying information. You are also responsible for all activities that occur under your account or password.</p>
<p>If you think there are any possible issues regarding the security of your account on the website, inform us immediately so we may address them accordingly.</p>
<p>We reserve all rights to terminate accounts, edit or remove content and cancel subscriptions, memberships or listings at our sole discretion.</p>

<h2>Applicable law</h2>
<p>By using this website, you agree that the laws of the United States and the State of New Jersey, without regard to principles of conflict laws, will govern these terms and conditions, or any dispute of any sort that might come between us and you.</p>

<h2>Disputes</h2>
<p>Any dispute related in any way to your use of this website shall be arbitrated by the state or federal court of New Jersey, United States, and you consent to exclusive jurisdiction and venue of such courts.</p>

<h2>Indemnification</h2>
<p>You agree to indemnify us and hold us harmless against legal claims and demands that may arise from your use or misuse of our services. We reserve the right to select our own legal counsel.</p>

<h2>Limitation on liability</h2>
<p>We are not liable for any damages that may occur to you as a result of your misuse of our website.</p>
<p>We reserve the right to edit, modify, and change this Agreement at any time. We shall notify our users of upcoming changes through email from admin@buydirectfromauthors.com. This Agreement is an understanding between us and the user, and this supersedes and replaces all prior agreements regarding the use of this website.</p>

<h2>Community Guidelines</h2>
<p>This is meant to be a positive experience and community to foster growth and visibility for authors’ direct stores. Please be kind and maintain professionalism when interacting with us and other authors on our site.</p>

<h2>Copyright Infringement</h2>
<p>We respect the intellectual property rights of others. If you believe any material on our site infringes upon your or someone else’s copyright, please email us at admin@buydirectfromauthors.com.</p>

<h2>Billing and Renewal</h2>
<p>Your subscription will continue and automatically renew unless canceled. You consent to us charging your payment method on a recurring basis without requiring your prior approval for each recurring charge, until such time as you cancel the applicable order. The length of your billing cycle is monthly.</p>
<p>You can cancel your subscription anytime in the settings of your Payhip account. Upon cancellation, your listing will be removed from our site.</p>
<p>We may, from time to time, make changes to the subscription fee and will communicate any price changes to you in advance by email from admin@buydirectfromauthors.com.</p>

<h2>Prohibited Activities</h2>
<p>You shall not negatively disparage us or any authors listed on the website at any time. If you are found to have done so, in our opinion, your listing will be immediately removed and your subscription will not be refunded.</p>
<p>You also may not:</p>
<ul><li>Systematically retrieve data or content from our site to create a collection or database without written permission from us.</li> <li>Circumvent, disable, or otherwise interfere with security-related features of our site.</li> <li>Disparage, tarnish, or otherwise harm, in our opinion, our company, our site, or any authors listed on the site.</li> <li>Harass, abuse, or harm another person using any information obtained from our site.</li> <li>Use the support services improperly, or submit false reports of abuse or misconduct.</li> <li>Use our site inconsistently with any applicable laws or regulations.</li> <li>Attempt to upload or transmit viruses, Trojan horses, or other materials (including excessive use of capital letters and spamming) that interferes with any party’s uninterrupted use of our site and its features.</li> <li>Impersonate another user or person or use the username of another user.</li> <li>Upload any materials that actively or passively collect information or act as a transmission mechanism (includes gifs, 1x1 pixels, web bugs, cookies, spyware, pcms, etc.).</li> <li>Copy/adapt our Site’s software (includes Flash, PHP, HTML, JavaScript, or other code).</li> <li>Decipher, decompile, disassemble, or reverse engineer any of the software that makes up our site.</li> <li>Use any automated system (spiders, robots, cheat utility, scraper, offline reader) to access the site, or launch any unauthorized script or software (unless as a result of a standard search engine or internet browser usage).</li> <li>Use our site in an unauthorized way (collecting usernames, email addresses of users for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses).</li> </ul>

<h2>Your Listing</h2>
<p>Listing your direct store on our site in no way guarantees you will see any increased revenue or book sales.</p>

<h2>Advertisements</h2>
<p>Advertisements will be displayed on the site. Authors will be allowed to purchase advertisements. Purchasing advertisements in no way guarantees or provides that the author will see any increased revenue or book sales.</p>

<h2>Dispute Resolution</h2>
<p>You agree to attempt to negotiate any dispute for at least thirty (30) days before arbitration. If negotiation fails after thirty days, the dispute will be finally and exclusively resolved by binding arbitration.</p>
<p>In no event shall any dispute by you or us related in any way to our site or company be commenced more than one (1) year after the cause of action arose.</p>

<h2>Dispute Restrictions</h2>
<p>You agree that any arbitration shall be limited to the dispute between you and us individually. No arbitration between us and you shall be joined with any other proceeding, there is no right or authority for any dispute to be arbitrated on a class-action basis or to utilize class action procedures, and there is no right or authority for any dispute to be brought in a purported representative capacity on behalf of the general public or any other persons.</p>

<h2>Disclaimer</h2>
<p>Our service is provided on an as-is and as-available basis. You agree that your use of our services and site will be at your sole risk. We assume no liability or responsibility for any information you upload to our site.</p>

<p>We may use affiliate links on our site from time to time.</p>

<h2>Contact us</h2>
<p>You can contact us by email (admin@buydirectfromauthors.com) or by mail to Buy Direct From Authors, 4 W Palisade Ave #1080, Englewood, NJ 07631.</p>
