@page
@model BDFA.Pages.SiteSettings.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Setting</h4>
    <hr />
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Setting.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
